:local(.styles) {
  color: white;
  top: 4px;
  left: 4px;
  z-index: 1;
  padding: 8px;
  border-right: 1px solid #222138;
  border-bottom: 1px solid #222138;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #5f5d72;

  & .input-group-prepend {
    margin: 8px 0 4px;
  }

  & input {
    width: 178px;
  }
}