:local(.styles) {
  color: white;
  top: 4px;
  left: 4px;
  z-index: 1;
  padding: 4px;
  border-right: 1px solid #FFFFFF;
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #C3CFE8 0% 0% no-repeat padding-box;
  opacity: 1;

  .node {
    background: #071437;
    opacity: 1;
    box-shadow: 0px 3px 6px #07143784;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
  }


  .node:hover {
    box-shadow: rgba(0, 0, 0, 0.533) 0px 0px 9px 0px;
  }

  .node i {
    padding-right: 8px;
  }
  .searchcontainer {
    padding-bottom: 10%;
  }

  .searchcontainer input {
    border-radius: 18px;
    

  }
}