:local(.styles) {
  color: white;
  top: 4px;
  left: 4px;
  z-index: 1;

  width: 50px !important;;
  flex-grow: 0;
  flex-shrink: 0;
  background: transparent linear-gradient(270deg, #DBDFE9 0%, #C3CFE8 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

  & button {
    width: 32px !important;;
    height: 32px !important;;
    margin: 4px !important;;
    padding: 0;

    > i {
      font-size: 20px !important;;
      margin-left:-8px;
      margin-top:-6px;
    }

    & i.bi-share {
      font-size: 16px !important;;
    }
  }
}