:local(.styles) {
  color: white;
  top: 4px;
  left: 4px;
  z-index: 1;
  padding: 8px;
  flex-grow: 0;
  font: normal normal bold 14px/17px Inter;
  letter-spacing: 1px;
  text-align: left;
  flex-shrink: 0;
  background: #C3CFE8;
  opacity: 1;

  & input {
    width: 178px;
  }
}