:local(.styles) {
  padding: 34px 0 0 0;
  cursor: pointer;

  &.dropzone {
    background-color: #e3e3eb;
    box-shadow: 0 0 9px #e3e3eb;

    & i {
      background-color: #e3e3eb;
    }
  }

  & i, & img {
    position: absolute;
    top: 2px;
    left: calc(50% - 16px);
    font-size: 30px;
    height: 30px;
    background-color: #ededed;
    color: #3699FF;
  }

  & .react-flow__handle {
    visibility: hidden;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
}